* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {

    display:flex;
    flex-direction:column;
    justify-content:center;
    min-height: 100vh;
}
.container_section {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vh;
    align-self: center;
}
.title {
    margin: 1em;
    align-self: center;
    font-size: 2em;
}

.formular {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0 2em 2em 2em;
}

form {
    width: 100%;
}
.text {
    margin-top: 1em;
    align-self: flex-start;
}
label {
    font-size: 1em;
    color: black;
    margin-right: 0.5em;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-right: 2em;
}

.button_one {
    cursor: pointer;
    align-self: center;
    width: 10em;
}
input[type=text] {
    padding: 5px 10px;
    box-sizing: border-box;
    outline: none;
}

.button_one:hover {
    background-color: #6f42c1 ;
    border: 1px solid #6f42c1 ;
}
.message {
    align-self: center;
    margin-top: 1em;
}
